<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

<form [formGroup]="editUserForm">
  <ion-list>
    <img [src]=userImage alt="" class="image-card">
    <ion-item>
      

    </ion-item>
    
    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-input formControlName="name" value={{name}}></ion-input>
      <ion-label *ngIf="editUserForm.controls.name.errors && submitted" color="danger">
        Name is required
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Mobile Number: </ion-label>
      <ion-input formControlName="mobile" value={{mobile}}></ion-input>
      <ion-label color="danger" *ngIf="editUserForm.controls.mobile.errors && submitted">
        Mobile Number is 8 digits
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Email Address: </ion-label>
      <ion-input formControlName="email" value={{email}}></ion-input>
      <ion-label *ngIf="editUserForm.controls.email.errors && submitted" color="danger">
        Name is required
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Education Level: </ion-label>
      <ion-input formControlName="education" value={{education}}></ion-input>
      <ion-label *ngIf="editUserForm.controls.education.errors && submitted" color="danger">
        Name is required
      </ion-label>
    </ion-item>


    <ion-button expand="block" color="secondary" (click)="update()">
      Update
    </ion-button>
  </ion-list>
</form>




</ion-content>
