#h1{
    font-size: 22px;
    font-weight: bold;
}

#h2{
    font-size: 15px;
}

#h3{
    font-size: 15px;
}

#tablestyle{
    width: 1100px;
    margin: 0 auto;
}

#addbutton{
    width: 1100px;
    display: block;
    margin: 0 auto;
}

#eachquestion{
    border: 1px solid white;
}