<ion-header>
  <ion-toolbar>
    <ion-title>Edit Question</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editQuestionForm">

  <ion-item>
    <ion-label>Question #{{questionID}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Details</ion-label>
    <ion-input formControlName="questionDetails"></ion-input>
    <ion-label
      *ngIf="editQuestionForm.controls.questionDetails.errors && submitted" color="danger">
      Please update your question
    </ion-label>
  </ion-item>
</form>

  <ion-button expand="block" color="secondary" (click)="update()">
      Update
  </ion-button>

</ion-content>
